<div class="container-fluid">
   <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">KyKoMat</a>
   </div>
   <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
         <li class="active"><a href="#about">Material ausgeben</a></li>
         <li><a href="#contact">Ausgegebenes Material anzeigen</a></li>
         <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administration <span class="caret"></span></a>
            <ul class="dropdown-menu">
               <li><a href="#">Material anlegen/bearbeiten</a></li>
               <li><a href="#">Materialkategorien bearbeiten</a></li>
               <li role="separator" class="divider"></li>
               <li><a href="#">Kurse verwalten</a></li>
               <li role="separator" class="divider"></li>
               <li><a href="#">Benutzer verwalten</a></li>
            </ul>
         </li>
         <li><a href="#about">Hilfe</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
         <li><a href="#">Über</a></li>
         <li><a href="#contact">Kontakt</a></li>
      </ul>
   </div>
   <!--/.nav-collapse -->
</div>