<ul class="nav nav-pills">
   <li role="presentation" class="active"><a href="#">Suchen</a></li>
   <li role="presentation"><a href="#">In Liste auswählen</a></li>
</ul>
<form class="form-inline">
   <div class="form-group">
      <label for="user-search" class="control-label">Benutzername oder Matrikelnummer</label>
      <input type="search" class="form-control" id="user-search" placeholder="Max Mustermann">
      <button type="submit" class="btn btn-default">Auswählen</button>
   </div>
</form>