

<div class="panel panel-primary">
  <div class="panel-heading">
         <div class="row">
            <div class="col-md-2">
               <img class="avatar" ng-src="{{currentStudent.image}}">
            </div>
            <div class="col-md-10">
               <h4><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{currentStudent.name}}</h4>
               <p>
                  <strong>Matrikelnummer: </strong> {{currentStudent.matrikelnummer}} <br>
                  <strong>Kurs:</strong> {{currentStudent.course}}
               </p>
            </div>
         </div>
  </div>
  <div class="panel-body" style="min-height: 400px; max-height: 400px; overflow-y: scroll;">
      <div class="list-group">
         <material ng-repeat="material in materials | filter:filterUserMaterial" ng-click="removeMaterialFromCurrentStundent(material)"></material>
      </div>
    </div>
</div>