<a href="#" class="list-group-item">
   <span class="badge">6</span>
   <h4 class="list-group-item-heading"> <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Peter Carsten</h4>
   <p class="list-group-item-text">
      <span class="label label-warning">Bohrer</span> <span class="label label-info">Zahnbürste</span> <span class="label label-info">Magentabletten</span> <span class="label label-warning">Stift</span> <span class="label label-success">Trockenlampe</span> <span class="label label-default">Apfelschorle</span>
   </p>
</a>
<a href="#" class="list-group-item">
   <span class="badge">6</span>
   <h4 class="list-group-item-heading"> <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Karl Vierstein</h4>
   <p class="list-group-item-text">
      <span class="label label-info">Fußball</span> <span class="label label-danger">Glucose</span> <span class="label label-info">Betonspannfutter</span> <span class="label label-danger">Waldhonig</span> <span class="label label-default">Trockenlampe</span> <span class="label label-primary">Zahnseide</span>
   </p>
</a>
<a href="#" class="list-group-item">
   <span class="badge">8</span>
   <h4 class="list-group-item-heading"> <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Willi Sauerlich</h4>
   <p class="list-group-item-text">
      <span class="label label-info">Bohrer</span> <span class="label label-info">Hilti</span> <span class="label label-info">Betonspannfutter</span> <span class="label label-warning">Zement</span> <span class="label label-success">Trockenlampe</span> <span class="label label-primary">Tesafilm</span> <span class="label label-primary">Foto</span> <span class="label label-primary">Gartenschaluch</span>
   </p>
</a>