<!DOCTYPE html>
<html lang="en" ng-app="kykomat">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
      <title>KyKoMat</title>
      <!-- Bootstrap -->
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
      <!-- Custom styles for this template -->
      <link href="custom.css" rel="stylesheet">
      <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
       
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
      <script src="js/kykomat.js"></script>
   </head>
   <body>
      <nav class="navbar navbar-inverse navbar-fixed-top">
         <div class="container-fluid">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href="#">KyKoMat</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
               <ul class="nav navbar-nav">
                  <li class="active"><a href="#about">Material ausgeben</a></li>
                  <li><a href="#contact">Ausgegebenes Material anzeigen</a></li>
                  <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administration <span class="caret"></span></a>
                     <ul class="dropdown-menu">
                        <li><a href="#">Material anlegen/bearbeiten</a></li>
                        <li><a href="#">Materialkategorien bearbeiten</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Kurse verwalten</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Benutzer verwalten</a></li>
                     </ul>
                  </li>
                  <li><a href="#about">Hilfe</a></li>
               </ul>
               <ul class="nav navbar-nav navbar-right">
                  <li><a href="#">Über</a></li>
                  <li><a href="#contact">Kontakt</a></li>
               </ul>
            </div>
            <!--/.nav-collapse -->
         </div>
      </nav>
      <div class="container-fluid" ng-controller="mainController">
         <div class="starter-template">
            <h1>Materialmanagement</h1>
            <p class="lead">Klicken Sie auf die Artikel in der linken Spalte um sie dem aktuellen Benutzer zuzuweisen.</p>
         </div>
          
         <div class="row">
            <div class="warehouse col-md-6">
               <h2 class="page-header">Ausgabe</h2>
               <ul class="category-tabs nav nav-tabs">
                  <li ng-repeat="category in materialCategories" role="presentation"><a href="#"> {{ category.name }} </a></li>
               </ul>
                
                <category-box ng-repeat="category in materialCategories">
                  <material ng-repeat="material in materials"></material>
                </category-box>


            </div>
            <div class="student col-md-6">
               <h2 class="page-header">Aktuellen Benutzer Auswählen</h2>
               <ul class="nav nav-pills">
                  <li role="presentation" class="active"><a href="#">Suchen</a></li>
                  <li role="presentation"><a href="#">In Liste auswählen</a></li>
               </ul>
               <form class="form-inline">
                  <div class="form-group">
                     <label for="user-search" class="control-label">Benutzername oder Matrikelnummer</label>
                     <input type="search" class="form-control" id="user-search" placeholder="Max Mustermann">
                     <button type="submit" class="btn btn-default">Auswählen</button>
                  </div>
               </form>
               <h2 class="page-header">Ausgewählter Benutzer</h2>
               <div class="panel panel-primary">
                  <div class="panel-heading">
                     <div class="list-group">
                        <a href="#" class="list-group-item col-xs-6">
                           <div class="media">
                              <div class="media-left">
                                 <img class="media-object material-image" src="images/objects/dummy-454x280-MeasuringTape.jpg"images/objects/dummy-100x100-Rocker.jpg"" alt="...">
                              </div>
                              <div class="media-body">
                                 <h4 class="media-heading">Media heading 1</h4>
                                 Lorem ipsum dolor sit amet.
                              </div>
                           </div>
                        </a>
                        <a href="#" class="list-group-item col-xs-6">
                           <div class="media">
                              <div class="media-left">
                                 <img class="media-object material-image" src="images/objects/dummy-454x280-MeasuringTape.jpg"images/objects/dummy-100x100-Rocker.jpg"" alt="...">
                              </div>
                              <div class="media-body">
                                 <h4 class="media-heading">Media heading 2</h4>
                                 Lorem ipsum dolor sit amet.
                              </div>
                           </div>
                        </a>
                        <a href="#" class="list-group-item col-xs-6">
                           <div class="media">
                              <div class="media-left">
                                 <img class="media-object material-image" src="images/objects/dummy-454x280-MeasuringTape.jpg"images/objects/dummy-100x100-Rocker.jpg"" alt="...">
                              </div>
                              <div class="media-body">
                                 <h4 class="media-heading">Media heading 3</h4>
                                 Lorem ipsum dolor sit amet.
                              </div>
                           </div>
                        </a>
                     </div>
                     <div class="clearfix"></div>
                  </div>
                  <a href="#">
                     <div class="panel-footer">
                        <div class="row">
                           <div class="col-md-2">
                              <img class="avatar" ng-src="{{students[0].image}}">
                           </div>
                           <div class="col-md-10">
                              <h4><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{students[0].name}}</h4>
                              <p>
                                 <strong>Matrikelnummer: </strong> {{students[0].matrikelnummer}} <br>
                                 <strong>Kurs:</strong> {{students[0].course}}
                              </p>
                           </div>
                        </div>
                        <div class="clearfix"></div>
                     </div>
                  </a>
               </div>
               <h2 class="page-header">Letzte Ausleihvorgänge</h2>
               <ul class="list-group">
                  <a href="#" class="list-group-item">
                     <span class="badge">6</span>
                     <h4 class="list-group-item-heading"> <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Peter Carsten</h4>
                     <p class="list-group-item-text">
                        <span class="label label-warning">Bohrer</span> <span class="label label-info">Zahnbürste</span> <span class="label label-info">Magentabletten</span> <span class="label label-warning">Stift</span> <span class="label label-success">Trockenlampe</span> <span class="label label-default">Apfelschorle</span>
                     </p>
                  </a>
                  <a href="#" class="list-group-item">
                     <span class="badge">6</span>
                     <h4 class="list-group-item-heading"> <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Karl Vierstein</h4>
                     <p class="list-group-item-text">
                        <span class="label label-info">Fußball</span> <span class="label label-danger">Glucose</span> <span class="label label-info">Betonspannfutter</span> <span class="label label-danger">Waldhonig</span> <span class="label label-default">Trockenlampe</span> <span class="label label-primary">Zahnseide</span>
                     </p>
                  </a>
                  <a href="#" class="list-group-item">
                     <span class="badge">8</span>
                     <h4 class="list-group-item-heading"> <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Willi Sauerlich</h4>
                     <p class="list-group-item-text">
                        <span class="label label-info">Bohrer</span> <span class="label label-info">Hilti</span> <span class="label label-info">Betonspannfutter</span> <span class="label label-warning">Zement</span> <span class="label label-success">Trockenlampe</span> <span class="label label-primary">Tesafilm</span> <span class="label label-primary">Foto</span> <span class="label label-primary">Gartenschaluch</span>
                     </p>
                  </a>
               </ul>
            </div>
         </div>
      </div>
      <!-- /.container -->
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>  
   </body>
</html>